{{ form_start(form, {attr: {'data-ajax-form': 'true'}}) }}
    <div class="modal-header">
        <h2 class="modal-title fs-5">{{ title }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
    </div>
    <div class="modal-body">
        <div class="row g-3">
            <div class="col-md-6">{{ form_row(form.fullName) }}</div>
            <div class="col-md-6">
                {{ form_row(form.type) }}
                <datalist id="contact-type-suggestions">
                    {% for type in type_suggestions|default([]) %}
                        <option value="{{ type }}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="col-md-6">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.contactPersonName) }}</div>
            <div class="col-md-6">{{ form_row(form.contactPersonPosition) }}</div>
            <div class="col-md-6">{{ form_row(form.city) }}</div>
            <div class="col-12" data-contact-mobile-group>
                <div class="row g-3">
                    <div class="col-md-4">
                        {{ form_row(form.mobile) }}
                        <button type="button" class="btn btn-link btn-sm px-0 text-decoration-none" data-contact-add-mobile>
                            <i class="bi bi-plus-circle me-1"></i>Ajouter un autre portable
                        </button>
                    </div>
                    <div class="col-md-4 {{ form.mobileSecondary.vars.value ? '' : 'd-none' }}" data-contact-extra-mobile>
                        {{ form_row(form.mobileSecondary) }}
                    </div>
                    <div class="col-md-4 {{ form.mobileTertiary.vars.value ? '' : 'd-none' }}" data-contact-extra-mobile>
                        {{ form_row(form.mobileTertiary) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">{{ form_row(form.landline) }}</div>
            <div class="col-12">{{ form_row(form.postalAddress) }}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-lg me-1"></i>{{ submit_label }}
        </button>
    </div>
{{ form_end(form) }}
